Facebook Messenger Agent.json
{
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "fd57f1fb-c4c6-4c08-9e62-bd0d93a8ca0d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        -100
      ],
      "id": "f883a10a-5c97-4f95-80ba-ee5af3339420",
      "name": "Webhook",
      "webhookId": "fd57f1fb-c4c6-4c08-9e62-bd0d93a8ca0d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ef01312-3a22-4713-b59f-ea0b7d7d4d02",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9001f1d2-c8af-477d-85a6-f5644af81935",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "1234",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        -200
      ],
      "id": "89c8e6ef-e1c5-479b-96db-0c63c1f3fb03",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -100,
        -400
      ],
      "id": "2aee72aa-b1e2-477d-81c2-7e37c5e5af7c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        240,
        -380
      ],
      "id": "3ff1c931-511f-4aa2-993c-bfdd097f069e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User message- {{ $json.body.entry[0].messaging[0].message.text }}\nUser voice message Trascribe-{{ $json.text }}.if not vailable ignore this\nUser image details after processing the user uploaded image-{{ $json.content }}\n\n",
        "options": {
          "systemMessage": "You are a helpful, knowledgeable, and friendly AI sales assistant for a premium perfume brand. Your goal is to understand the customer's preferences and recommend the perfect fragrance.\n\nAlways respond like a human expert who is passionate about perfumes and can explain scent notes, occasions, and style matches in simple and elegant language.\n\nAsk questions to learn about:\n- Gender preference (for him/her/unisex)\n- Preferred scent family (floral, woody, oriental, citrus, aquatic, etc.)\n- Budget range\n- Occasion (daily wear, office, romantic, party, gift)\n- Personality style (bold, elegant, playful, mysterious, minimal, etc.)\n- Previous perfumes they liked (optional)\n\nWhen recommending, always:\n- Mention the top, middle, and base notes\n- Describe the emotion or vibe of the fragrance\n- Mention price (if applicable)\n- Keep responses conversational, never robotic\n\nIf unsure, ask clarifying questions before suggesting. Be persuasive but never pushy.\n\nYou are speaking to someone who wants something special — help them find a scent that expresses who they are or who they're gifting.you will understand every languages. you will understand user language and reply according to their language.reply in short.donot use \\n. keo order dile stock order dile stock theke akta product kombe. User spelling bhul korleo catch korte parbe\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        140,
        100
      ],
      "id": "642a9073-cdd6-4254-981b-f3fa7567ad80",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        340
      ],
      "id": "5adba9dd-b2f9-4228-84b0-758607a6ce3d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/113638560418732/messages?access_token=EAAJlCRua8n4BPPE6k47T6jpBvftoyWNv57TYXMrmqYGKg7UzThdt1CjpgesySD8w1EfDk92C91wBbyh6ybzfuEg53qFGNXKlWYgkIFQwcBSqGZAIHpnmKGFrjfLXLgJ4KiZAMBKZCO9WOUxvnZCxqH1YgRbUZCsxiHZAuEzSD20WRnoqbAk4hfcOMgUDVaujGF09UPswZDZD",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        100
      ],
      "id": "523c7f15-3a9f-4ea9-9841-3c33450c488c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca481f94-ef43-4409-9ee1-c41cffc680b1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "866b5cad-91ff-4d6c-b74b-a8275604609d",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "28c51386-2509-49a0-81aa-857fa1a29855",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -460,
        20
      ],
      "id": "4be6271a-30a0-4432-8cec-a6022fe6290d",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        260
      ],
      "id": "ea802b12-83cd-4df9-8a85-815fc661cc5f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SUyJI0IfI9M95Z5b",
          "name": "OpenAi account 89"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this when need to view orders sheet",
        "documentId": {
          "__rl": true,
          "value": "1-z0H-iNKwEQNG7C3Lk8Aq51A6n1DGRCKfMA3uQfodFI",
          "mode": "list",
          "cachedResultName": "product info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-z0H-iNKwEQNG7C3Lk8Aq51A6n1DGRCKfMA3uQfodFI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-z0H-iNKwEQNG7C3Lk8Aq51A6n1DGRCKfMA3uQfodFI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        200,
        420
      ],
      "id": "22273377-de66-44a5-9de9-e3660e328afc",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4sR5tzJdDMBr0v4L",
          "name": "Google Sheets account 164"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this tool when product info is needed",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-z0H-iNKwEQNG7C3Lk8Aq51A6n1DGRCKfMA3uQfodFI",
          "mode": "list",
          "cachedResultName": "product info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-z0H-iNKwEQNG7C3Lk8Aq51A6n1DGRCKfMA3uQfodFI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-z0H-iNKwEQNG7C3Lk8Aq51A6n1DGRCKfMA3uQfodFI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product_ID', ``, 'string') }}",
            "Product Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product_Name', ``, 'string') }}",
            "Brand": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Brand', ``, 'string') }}",
            "Stock": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Stock', ``, 'string') }}",
            "Price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price', ``, 'string') }}"
          },
          "matchingColumns": [
            "Product ID"
          ],
          "schema": [
            {
              "id": "Product ID",
              "displayName": "Product ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stock",
              "displayName": "Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        400,
        440
      ],
      "id": "dabaede6-7de8-469c-8de5-fc4ffa3f9878",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4sR5tzJdDMBr0v4L",
          "name": "Google Sheets account 164"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "when stock update needed",
        "documentId": {
          "__rl": true,
          "value": "1HAnPuqIUHmMOpNAnVmiwlc2SducPmCjrzdoS7zoPnq0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HAnPuqIUHmMOpNAnVmiwlc2SducPmCjrzdoS7zoPnq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HAnPuqIUHmMOpNAnVmiwlc2SducPmCjrzdoS7zoPnq0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        540,
        380
      ],
      "id": "ae8483e5-b727-46e0-9fc7-c9666f2e0cbe",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4sR5tzJdDMBr0v4L",
          "name": "Google Sheets account 164"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "when need to add new order, use this tool",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HAnPuqIUHmMOpNAnVmiwlc2SducPmCjrzdoS7zoPnq0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HAnPuqIUHmMOpNAnVmiwlc2SducPmCjrzdoS7zoPnq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HAnPuqIUHmMOpNAnVmiwlc2SducPmCjrzdoS7zoPnq0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Address', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
            "Ordered item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ordered_item', ``, 'string') }}",
            "Item Details": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item_Details', ``, 'string') }}"
          },
          "matchingColumns": [
            "Address"
          ],
          "schema": [
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ordered item",
              "displayName": "Ordered item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item Details",
              "displayName": "Item Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        280,
        560
      ],
      "id": "e6c6cec4-e845-47a7-9a60-72c6b9af265f",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4sR5tzJdDMBr0v4L",
          "name": "Google Sheets account 164"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -560,
        700
      ],
      "id": "1a602c19-f26d-4ab1-b44d-84d651c43910",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SUyJI0IfI9M95Z5b",
          "name": "OpenAi account 89"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        320
      ],
      "id": "19929475-6fb6-4c6b-98ef-db5a2dc6b252",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -100
      ],
      "id": "ff6b7378-1d79-44b5-8241-f8b80de18f5f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "see the product id in the image and reply according to it",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        -100
      ],
      "id": "2f192435-45e9-4fc6-a5ca-a8c28d831afc",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "SUyJI0IfI9M95Z5b",
          "name": "OpenAi account 89"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3dd18e7533d3a43f9d866136b9a39cd38cf6bcf3acab074bb5bde8f3f0e0c57"
  }
}